.banner {
    background-image: url(../../img/banner.png);
    height: 720px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 2px solid #c0c3c6;
}

.banner .box {
    display: block;
}

.banner .envolver {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.banner .navegacao {
    display: flex;
    justify-content: space-around;
}