.skill-tec {
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color: #1B2430;  
}

.skill-tec .icon {
    margin-right: 25px;
   
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}